<p class="lead">{{question}}</p>
<p><font size="1"><em>{{author}}</em></font></p>
<br>
<p>{{description}}</p>

<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
<button class="btn btn-primary" {{action 'delete'}}>Delete</button>

<!-- {{#if isEditing}} -->

  <!-- <form>
    <div class="form-group">
      <label for="author">Name</label>
      {{input id="author" class="form-control" value=author}}
    </div>
    <div class="form-group">
      <label for="question">Question</label>
      {{input id="question" class="form-control" value=question}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea id="body" class="form-control" rows="15" value=body}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>

  </form>

  {{else}} -->

  <!-- <p>{{question}}</p>
  <font size="1"><em>{{author}}</em></font> -->

  <!-- <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-primary" {{action 'delete'}}>Delete</button> -->

  <!-- {{/if}}


  <h2>Comments</h2>

  {{#each comments}}
    <p>{{text}}</p>
  {{/each}}

<p>{{#link-to 'new-comment' this.id class="btn btn-success"}}New Comment{{/link-to}}</p>

{{outlet}} -->
